<!DOCTYPE HTML>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><object data="/img/boin.svg" class="inline-svg"></object></a>
    </nav>
    <div class="jumbotron-fluid jumbotron">
      <h1>Welcome!</h1>
    </div>
    {{cpu}}&deg;C
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>
