<!DOCTYPE HTML>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><object data="/img/boin.svg" class="inline-svg"></object></a>
    </nav>
    <div class="jumbotron-fluid jumbotron">
      <h1 class="text-center">Welcome!</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1>CPU</h1>
          <p class"cpu-temp"></p>
          <p class="fan-temp"></p>
        </div>
        <div class="col-sm">
          <p>
          </p>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>
